<!-- Download Section -->
<!-- <section id="download" class="content-section text-center">
    <div class="download-section">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Deviation seen in Popular Steering Models</h3>
            </div>
    </div>
</section> -->


<!-- Contact Section -->
<section id="download" class="container content-section text-right">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Deviation seen in Popular Steering Models</h3>
            <a href="https://arxiv.org/pdf/1703.10593.pdf"><img style="float: left; padding: 10px; PADDING-RIGHT: 30px;" alt="samples" src="img/downloads-bg.jpg" width="1000" height="1000"></a>
        </div>
    </div>
</section>