<!-- Download Section -->
<!-- <section id="download" class="content-section text-center">
    <div class="download-section">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Deviation seen in Popular Steering Models</h3>
            </div>
    </div>
</section> -->


<!-- Contact Section -->
<section id="download" class="container content-section text-right">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Deviation seen in Popular Steering Models</h3>
            <img src="img/stack.png" alt="examples" align="center" width="800" height="800">
        </div>
    </div>
</section>