<!-- Download Section -->
<!-- <section id="download" class="content-section text-center">
    <div class="download-section">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Deviation seen in Popular Steering Models</h3>
            </div>
    </div>
</section> -->


<!-- Contact Section -->
<section id="download" class="container content-section text-right">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Deviation seen in Popular Steering Models</h3>
            <img src="img/stack.png" alt="examples" align="center" width="800" height="800">
            <p align="right"> Fooling Models: Ground truth Steering Angle (in radians) for each of the original test samples. The angles right below indicate the ordered pair of predicted steering angle by AutoPilot and Comma AI respectively. From the second row onward, we indicate the image translation model used and respective steering model it was trained on. The angle below each of those images indicates the prediction by the steering model for the generated foggy image. </p>
        </div>
    </div>
</section>