    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
           <!--              <p class="intro-sub-text">{{ site.description1 }} <a> </a><br>
                        <p class="intro-sub-text">{{ site.description2 }}<br> -->
                        <a class="intro-sub-text" href="https://github.com/code-Assasin">{{ site.description1 }}</a>
                        <a class="intro-sub-text" href="https://www.iith.ac.in/~vineethnb/">{{ site.description2 }}</a><br>
                        <a class="intro-sub-text" href="https://www.iith.ac.in/">{{ site.description3 }}</a><br>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
