    <!-- Contact Section -->
    <section id="paper" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Paper</h2>
                <a href="https://arxiv.org/abs/2001.05873"><img style="float: left; padding: 10px; PADDING-RIGHT: 30px;" alt="paper thumbnail" src="img/intro-bg.jpg" width="170"></a>
                <p> Arxiv: <a href="https://arxiv.org/abs/2001.05873">https://arxiv.org/abs/2001.05873</a> </p>
                <p>Accepted to WACV 2020</p>
                <p> Citation: <a href="img/bibtex.txt"> Bibtex </a> </p>
            </div>
        </div>
    </section>